dist: trusty
sudo: required
group: beta
language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
before_install: npm install -g truffle
install: npm install

before_script:
  - npm run ganache > /dev/null &
  - sleep 5
script:
  - npm run lint
  - ./scripts/deployContracts.sh
  - ./scripts/build.sh